<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    
<mapper namespace="com.spring.ttubeok.user.repository.IUserMappper">

	<!-- DB 컬럼명과 VO 클래스의 필드명 맵핑작업 -->
	<resultMap id="UserMap" type="com.spring.ttubeok.user.model.UserVO">		
		<result property="userId" column="user_id" />
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="regDate" column="reg_date"/>
		<result property="sessionId" column="session_id"/>
		<result property="limitTime" column="limit_time"/>	
	</resultMap>
	
	
	
	
	<!-- 회원가입 SQL -->
	<insert id="register">
		INSERT INTO ttubeok_user (user_id, password, name)
		VALUES (#{userId}, #{password}, #{name})	
	</insert>
	
	
	<!-- 아이디 중복확인 SQL -->
	<select id="checkId" resultType="int">
		SELECT COUNT(*)
		FROM ttubeok_user
		WHERE user_id = #{userId}
	</select>
	
	
	<!-- 회원탈퇴 SQL -->
	<delete id="delete">
		DELETE FROM ttubeok_user
		WHERE user_id = #{userId}
	</delete>
	
	
	
	
</mapper>